* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
.wrapper {
  margin: 50px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 265px);

}
.wrapper li {
  height: 250px;
  list-style: none;
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px 20px;
  word-wrap: break-word;
  overflow:auto;
  order:2;
}
.add-box,
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order:0!important;
}
.add-box .icon {
  height: 78px;
  width: 78px;
  color: black;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px solid black;
  cursor: pointer;

}
.add-box p {
  color: black;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;

}
.note p {
  font-size: 22px;
  font-weight: 500;
}
.note span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
}
.bottom-content {
  border-top: 2px solid black;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.popup-box .popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 400px;
  width: 100%;
  justify-content: center;
}
.popup-box, .popup-box .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
}
.popup .content {
  background: #ffff;
}
.popup .content form {
  margin: 15px 25px 35px;
}
.content form .row {
  margin-bottom: 20px;
}
form .row label {
  display: block;
  font-size: 18px;
  margin: 6px;
}
.content form :where(input, textarea) {
  width: 100%;
  height: 50px;
  font-size: 17px;
  margin-top: 6px;
  word-wrap: break-word; 
}
.content form textarea {
  height: 150px;
  resize: none;
  margin-bottom: 6px;
}
.content form button {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: antiquewhite;
}
header p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
}
.close{
    display: flex;
    justify-content:end;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content:space-between;
margin-top: 30px;
    border-radius: 5px;
    font-size: 20px;
}
button{
    background-color: antiquewhite;
    width: 45%;
    height: 30px;
    border-radius: 10px;
}
.colorNotes{
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorNotes div{
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 100%;
  cursor:pointer;
}
.red{
  background-color: 	#CD5C5C!important;
}
.silver{
  background-color: #C0C0C0!important;
}
.purple{
background-color: 	#9370DB!important;
}
.blue{
background-color: 	#00BFFF!important;
}
.green{
background-color: 	#90EE90!important;
}
.active{
  border: solid 3px;
}
.pinned{
  order: 1 !important;;
}
.pinned .pinButton{
background-color: lightslategray;
}